In [1]:
import os
import json
import requests
import pandas as pd
from dotenv import load_dotenv

In [2]:
# Load env environment variables
load_dotenv()

# Set crypto_api_key
crypto_api_key = os.getenv('crypto_api_key')

# Set the data endpoints
btc_url = 'https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit=1115&api_key='
eth_url = 'https://min-api.cryptocompare.com/data/v2/histoday?fsym=ETH&tsym=USD&limit=1115&api_key='
matic_url = 'https://min-api.cryptocompare.com/data/v2/histoday?fsym=MATIC&tsym=USD&limit=1115&api_key='
uni_url = 'https://min-api.cryptocompare.com/data/v2/histoday?fsym=UNI&tsym=USD&limit=1115&api_key='
atom_url = 'https://min-api.cryptocompare.com/data/v2/histoday?fsym=ATOM&tsym=USD&limit=1115&api_key='

# Concatenate endpoints and key
btc_request_url = btc_url + crypto_api_key
eth_request_url = eth_url + crypto_api_key
matic_request_url = matic_url + crypto_api_key
uni_request_url = uni_url + crypto_api_key
atom_request_url = atom_url + crypto_api_key

In [ ]:
# Fetch the bitcoin data, stored as json
response_btc = requests.get(btc_request_url).json()

# Displays the response data
print(json.dumps(response_btc, indent=4, sort_keys=False))

In [ ]:
# Fetch the ethereum data, stored as json
response_eth = requests.get(eth_request_url).json()

# Displays the response data
print(json.dumps(response_eth, indent=4, sort_keys=False))

In [ ]:
# Fetch the polygon data, stored as json
response_matic = requests.get(matic_request_url).json()

# Displays the response data
print(json.dumps(response_matic, indent=4, sort_keys=False))

In [ ]:
# Fetch the uniswap data, stored as json
response_uni = requests.get(uni_request_url).json()

# Displays the response data
print(json.dumps(response_uni, indent=4, sort_keys=False))

In [ ]:
# Fetch the cosmos data, stored as json
response_atom = requests.get(atom_request_url).json()

# Displays the response data
print(json.dumps(response_atom, indent=4, sort_keys=False))

In [8]:
btc_high_price = []
for data_point in response_btc['Data']['Data']:
    btc_high_value = data_point.get('high')
    btc_high_price.append(btc_high_value)

In [9]:
eth_high_price = []
for data_point in response_eth['Data']['Data']:
    eth_high_value = data_point.get('high')
    eth_high_price.append(eth_high_value)

In [10]:
matic_high_price = []
for data_point in response_matic['Data']['Data']:
    matic_high_value = data_point.get('high')
    matic_high_price.append(matic_high_value)

In [11]:
uni_high_price = []
for data_point in response_uni['Data']['Data']:
    uni_high_value = data_point.get('high')
    uni_high_price.append(uni_high_value)

In [12]:
atom_high_price = []
for data_point in response_atom['Data']['Data']:
    atom_high_value = data_point.get('high')
    atom_high_price.append(atom_high_value)

In [13]:
crypto_data = {
    'Bitcoin': btc_high_price,
    'Ethereum': eth_high_price,
    'Polygon': matic_high_price,
    'Uniswap': uni_high_price,
    'Cosmos': atom_high_price
}
# Creating a dataframe for the data
crypto_data_df = pd.DataFrame(crypto_data)

# Display the dataframe data
crypto_data_df

       Bitcoin  Ethereum  Polygon  Uniswap  Cosmos
0      3938.75    145.16    0.000     0.00    0.00
1      3989.59    158.28    0.000     0.00    0.00
2      3965.52    152.90    0.000     0.00    0.00
3      3901.65    158.80    0.000     0.00    0.00
4      3926.92    160.54    0.000     0.00    0.00
...        ...       ...      ...      ...     ...
1111  43484.21   3393.05    2.374    18.19   43.79
1112  43198.05   3358.54    2.453    17.95   44.51
1113  42682.77   3244.64    2.245    17.70   40.06
1114  42575.28   3174.98    2.142    16.22   38.14
1115  43513.14   3272.69    2.192    16.18   42.09

[1116 rows x 5 columns]